<%- include('../includes/head.ejs') %> 

  <link rel="stylesheet" href="/css/forms.css">
  <link rel="stylesheet" href="/css/product.css">
</head>
<body>

  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (errorMessage) { %>
      <div class="user-message user-message__error"><%- errorMessage.msg %> </div>
    <% } %>
    <form class="product-form" 
          action="<% if (editing) { %>/admin/edit-product<% } else { %>/admin/add-product<% } %>" 
          method="POST">

      <div class="form-control">
        <label for="title">Title</label>
        <input class="<%= validationErrors.find(e => e.param === 'title') ? 'invalid' : '' %>"
               type="text" 
               id="title" 
               name="title" 
               value="<%= product.title %>" 
               required>
      </div>
      
      <div class="form-control">
        <label for="imageUrl">ImageUrl</label>
        <input class="<%= validationErrors.find(e => e.param === 'imageUrl') ? 'invalid' : '' %>"
               type="text" 
               id="imageUrl" 
               name="imageUrl" 
               value="<%= product.imageUrl %>" >
      </div>

      <div class="form-control">
        <label for="price">Price</label>
        <input class="<%= validationErrors.find(e => e.param === 'price') ? 'invalid' : '' %>"
               type="number" 
               id="price" 
               name="price" 
               min="0" 
               step="0.01" 
               value="<%= product.price %>" required>
      </div>

      <div class="form-control">
        <label for="description">Description</label>
        <textarea class="<%= validationErrors.find(e => e.param === 'description') ? 'invalid' : '' %>"
                  id="description" 
                  name="description" 
                  rows="5" 
                  ><%= product.description %></textarea>
      </div>

      <input type="hidden" name="productId" value="<%= product._id %>">
      <input type="hidden" name="_csrf" value="<%= csrfToken %>">

      <button class="btn" type="submit">
        
        <% if (editing) { %>
          Update Product
        <% } else { %>
          Add Product
        <% } %>

      </button>

    </form>
  </main>
  
<%- include('../includes/end.ejs') %> 